/*                                       Global Style */

* {
    color: hsl(180, 25%, 25%);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

body {
    background-color: hsla(19, 90%, 75%, 1);
}


/*                                      Header Styles */
header, footer {
    /*position: fixed;
    z-index: 100;*/
    background-color: hsla(19, 80%, 65%, 1);
    width: 100%;
    text-align: center;
}

div.logo {
    text-align: center;
    margin: 0% 20%;
    padding: 3% 0;
    max-width: 65%;
    border: 3px hsl(180, 80%, 15%) solid;
    border-radius: 200px 130px;
    -moz-border-radius: 200px 130px;
    -webkit-border-radius: 200px 130px;
}

.headerlogo {
    max-width: 50%
}

header * {
    max-height: 15%;   
}

header {
    /*max-height: 15%;*/
    padding: 20px 0 0 0;
} 

.navmenu * {
    list-style-type: none;
    color: lightgray;
    display: inline-block;
    text-align: center;
    border: 3px hsl(180, 80%, 15%) outset;
    width: 18%;
    margin: 10px 20px;
}

ul.navmenu {
    border: 3px hsl(180, 80%, 15%) solid;
    background-color: hsl(180, 90%, 10%); /* Needs to cover whole menu bar */
    margin: 3% 0 0 0;
}

/*                                      Footer Styles */
footer {
    max-height: 5%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: hsl(180, 90%, 10%); 
    color: lightgray;
}

footer p {
    color: hsl(180, 25%, 25%);
    margin: 0;
    padding: 10px 0;
    background-color: hsla(19, 80%, 65%, 1);    
}

img.footerlogo {
    margin-top: 10px;
    margin-bottom: 5px;
    border: 3px hsl(180, 80%, 15%) solid;
    border-radius: 200px 130px;
    -moz-border-radius: 200px 130px;
    -webkit-border-radius: 200px 130px;
    width: 25%;
}

/*                                Article/Main Styles */
main {
    max-width: 100%;
    min-width: 400px;
    width: 80%;
    margin: 0 10%;
}

section.places {
    text-align: center;
    margin: 50px auto;
    line-height: 1;
}

section.places lh {
    line-height: 1.6;
    font-weight: 900;
}

article.location {
    width: 15%;
    text-align: center;
    display: inline-block;
    margin: 0 0.5%;
    padding: 10px;
    border: 3px hsl(180, 80%, 15%) double;
    background-color: hsla(19, 80%, 65%, 1);  
}

.storeinfo {
    list-style-type: none;
    margin: 0;
}

    /*
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1960px;
    box-sizing: border-box;

header, h1, h2, h3 {
    color: hsl(180, 80%, 15%);
    font-family: 'Montserrat', sans-serif;
}

*/
