* {
   color: darkslategray;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: #FC8f7B;
}

li, table {
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #125267;
}

lh {
   font-size: 125%;
   font-weight: 900;
}